/* PAGE SETTINGS */

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* HEADER SECTION */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff6900;
    box-shadow: 0px 2px 8px 1px #0000007a;
    height: 100px;
    width: 100%;
    position: fixed;
}

header > div > a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    margin: 0 10px;
}

.logo {
    width: 150px;
    margin-right: 150px;
}

nav > svg {
    width:1.5rem;
    padding-right: 10px;
}

/* MAIN SECTION */

main {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 130px;
}

main > section > div {
    width: 500px;
    height: 600px;
    margin: 20px;
}

/* SHOWCASE CARDS */

.boxes {
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-top: 15px;
}

.box1 {
    background-image: url(/img/1.webp);
}

.box2 {
    background-image: url(/img/2.webp);
}

.box3 {
    background-image: url(/img/3.webp);
}

.box4 {
    background-image: url(/img/4.webp);
}

.box5 {
    background-image: url(/img/5.webp);
}

.box6 {
    background-image: url(/img/6.webp);
}

/* SHOWCASE CARDS LABELS */

.heart {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: white;
    justify-content: center;
}

.heart > svg {
    width:1.5rem;
}

.singlelabel {
    position: relative;
    top: 520px;
    right: 390px;
}

.doublelabel {
    position: relative;
    top: 520px;
    right: 266px;
}

.discount {
    display: inline-block;
    width: 60px;
    height: 25px;
    background-color: red;
    color: white;
    font-weight: 500;
    text-align: center;
    padding-top: 7px;
}

.sustainable {
    display: inline-block;
    width: 120px;
    height: 25px;
    background-color: green;
    color: white;
    font-weight: 500;
    text-align: center;
    padding-top: 7px;
}